/*
*= require_self
*= require "bootstrap_and_overrides.css.scss"
*= require "bootstrap.css"
*= require "bootstrap-responsive.css"
*/


@import "bootstrap";

header {
}

.navbar-inner {
  background-color: #2c2c2c; /* place your solid color here */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.center {
  text-align: center;

}

.center h1 {
  margin-bottom: 10px;
}

body {
  padding-top: 20px;
  padding-left: 10px;
  background-color:#eee;
  color:#333;
  font-family:verdana, arial, helvetica, sans-serif;
  font-size:13px;
  line-height:18px; }

p, ol, ul, td {
  font-family:verdana, arial, helvetica, sans-serif;
  font-size:13px;
  line-height:18px; }
  
th
{
text-align:right;
border:1px solid black; 
border-style:solid;
}
  
td
{
	text-align:right;
	border:1px solid black;
	padding:2px
}

pre {
  background-color:#eee;
  padding:10px;
  font-size:11px; }

a {
  color:#FF00;
  &:visited {
    color:#666; }
  &:hover {
    color:#fff;
  background-color:#000; } }

div {
  &.field, &.actions {
    margin-bottom:10px; } }
  
ul li {
	display:inline;
    font-size:12px;
    list-style:square; }
	
#notice {
  color:green; }

.field_with_errors {
  padding:2px;
  background-color:red;
  display:table; }

.container-fluid {
  }

.content {
  padding: 8px;
  background-color: #ddffdd;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

#error_explanation {
	background-color:#f0f0f0;
	h2 {
		background-color:#c00;
		color:#fff;
	}
	ul li {
		font-size:12px;
		list-style:square;
	}
}

#error_explanation1 {
  width:450px;
  border:2px solid red;
  padding:7px;
  padding-bottom:0;
  margin-bottom:20px;
  background-color:#f0f0f0;
  h2 {
    text-align:left;
    font-weight:bold;
    padding:5px 5px 5px 15px;
    font-size:12px;
    margin:-7px;
    margin-bottom:0px;
    background-color:#c00;
    color:#fff; }
  ul li {
    font-size:12px;
    list-style:square; } }